@font-face {
  font-family: 'Galdeano';
  font-style: normal;
  font-weight: 400;
  src: local('Galdeano Regular'), local('Galdeano-Regular'), url(http://vvw.b11.coreserver.jp/br.php?u=T2k4dmRHaGxiV1Z6TG1kdmIyZHNaWFZ6WlhKamIyNTBaVzUwTG1OdmJTOXpkR0YwYVdNdlptOXVkSE12WjJGc1pHVmhibTh2ZGpNdldGZHJXbWg1Wm5KT1oyODVXQzFuYVZSMFgxcG1abVZ6V2xjeWVFOVJMWGh6VG5GUE5EZHROVFZFUVM1M2IyWm0%3D&b=13) format('woff');
}